body{
  margin:0;
  width:1200px;
  font-size: 0;
  animation-iteration-count: infinite;
  animation-name: color-change;
  animation-duration: 3s;
}
@keyframes color-change{
  from{background-color: red ;}
  to {background-color: blue;}
  
} 



div{
  position: relative;
}
/*
Add your CSS to the ID selectors below
*/
#ball{
top: 20px;
  left: 23px;
  position:absolute;
}

#turnip{
  position:absolute;
  left: 297px;
  top: 267px
}

#farm{

}

#grass{
  position:absolute;
 top:267px; 
  left: 493px;
}

#tetris{

}

#L{
top: 1700px;
  left:100px;
  position:absolute;
}

#T{
position:absolute;
  top:1800px;
  left: 500px;
}

#I{
position:absolute;
  left: 1000px;
  top:1700px;
}