body{
  background-image: url(img/7-1bg.png);
    /*this height allows us to see the full background picture vertically*/
  height: 2875px;
  /*this width prevents the images from wrapping*/
  width: 1600px;
  background-repeat: no-repeat;
  background-position: 200px 0;
  
}
img{
  /*these properties together allow inline elements on the same row to have independent top and bottom margins/padding*/
  display:inline-block;
  vertical-align: top;
}

/*
Add your CSS to the ID selectors below
*/

#ball{
margin: -70px 0 0 215px;
}

#turnip{
margin: 143px 0 0 488.5px;
}

#grass{
margin: 143px 0 0 48px;
 
}

#L{
  margin: 1340px 0 0 293px;
}

#T{
  margin: 1440px 0 0 95px;
}

#I{
 margin: 1340px 0 0 296px;
}
nav{
 
}