
a:hover{

text-decoration: underline;
font-size: 25px;

}
nav li:hover{

 margin: 0;
}


a{
  text-decoration: none;
  color:black;
  font-size: 20px;
 
}
h1{

    font-family: "Lucida Console", "Courier New", monospace;
 
    
}

body{
  background-color:#DEF2F1;
  margin: 0;

}






