
a:hover{
color: red;
text-decoration: underline;
font-size: 25px;
background-color: rebeccapurple
}
a{
  text-decoration: none;
  color:rgba(37, 34, 226, 0.911) ;
  font-size: 20px;
}
h1{
    font-family: "Lucida Console", "Courier New", monospace;
}
body{
  background-color: turquoise;
}
nav{
  border-style: solid;
  width: 120px;
  height: 125px;
  background-color: rgba(0, 0, 0, 0.267);
}




