body{
  margin: 0;
  background-color: #f5f3f4;
}
table{
width: 90%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 2px 2px 2px;
  background-color: white;
}
th, td{

  padding: 10px;
  border: 1px solid black;
  
}
.bis-gravy{
  border: 1px solid black;
    box-shadow: 2px 2px 2px;
  margin:30px;
}
section{
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0 0 20;
}

li{
  margin-top: 15px;
  margin-left: 125px;
  font-size: 25px;
 width: 700px;
}

 a{
  
  text-decoration: none;
  color: blue;
  
  display: block;
  font-size: 25px; 
   padding: 13px;
}
 a:hover{
text-decoration: underline;
font-size: 25px; 

  width: 100%;
}



